#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  whatsupdocker:
    image: getwud/wud:{{ whatsupdocker_version }}
    container_name: wud
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - TZ={{ timezone | default('UTC') }}

      {% for watcher in whatsupdocker_watchers | default({}, true) | dict2items %}
      # Watcher: {{ watcher.key }}
      {% for item in watcher.value | default({}, true) | dict2items %}
      {% set envkey = 'WUD_WATCHER_' ~ (watcher.key | upper) ~ '_' ~ (item.key | upper) %}
      - {{ envkey }}={{ item.value }}
      {% endfor %}
      {% endfor %}

      {% for registry in whatsupdocker_registries | default({}, true) | dict2items %}
      # Registry: {{ registry.key }}
      {% for ritem in registry.value | default({}, true) | dict2items %}
      {% for item in ritem.value | default({}, true) | dict2items %}
      - WUD_REGISTRY_{{ registry.key | upper }}_{{ ritem.key | upper }}_{{ item.key | upper }}={{ item.value }}
      {% endfor %}
      {% endfor %}
      {% endfor %}

      - WUD_LOG_LEVEL={{ whatsupdocker_log_level | default('info') }}

    {% if whatsupdocker_mount_docker_socket | default(true) %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

      # What's up Docker? - https://github.com/getwud/wud
      wud.tag.include: ^\d+\.\d+\.\d+$$
      wud.link.template: https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
